.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parent-card {
  width: 40vw;
  height: auto;
}

.form-group {
  margin-bottom: 0 !important;
}

.invalid {
  border: 2px solid red;
}
